body{
    font-family: 'Redressed', cursive;
    font-family: 'Xanh Mono', monospace;
}
h1{
    font-size: 40px;
}
section{
    height: 380px;
    padding-bottom: 60px;
    
}
.header-font-color{font-family: 'Bebas Neue', cursive;
    color: #363958;
    }   
.lower-middle-font-color{
    font-family: 'Bebas Neue', cursive;

    color: #363958;
    
}


p{
    font-family: 'Roboto', sans-serif;
    color: dimgray;
}
.name-highlight{
    color:#FF8B71;
}
.header-half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: 2%;
}
.header-half-width img{
    width: 80%;
    height: 350px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient();
    background-color: #F86B61;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    position: absolute;
    font-family: 'Roboto', sans-serif;
}

.header-three-of-one{
    
    border-radius: 10px;
    height: 60%;
    width: 25%;
    float: left;
    margin: 1%;
    padding: 1%;
    
   
}
.latest-working-project-area{
    background-color:#F8F9FC; 
    text-align: center;
        
}
.footer-image-area{
    width: 20px;
}
#Power-x-gym{
     
    background-color: #FFFFFF;
    margin-left: 7%
      
}
#Creative-agency{
      
    background-color: #FFFFFF;  
  
}
#hard-rock-music{
    
    background-color: #FFFFFF; 
    
}
.lower-section{
    overflow: hidden;
    margin: 0 auto;
}
footer{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
}

